<!-- <div class="home_main">
  <div class="overlay valign-wrapper center-align ">
    <h1>Ranawara</h1>
  </div>
  <div class="carousel carousel-slider" data-indicators='true'>
    <a class='carousel-item responsive-img'><%= image_tag('photos/outdoor - pool angle_opt') %></a>
    <a class='carousel-item responsive-img'><%= image_tag('photos/outdoor - pool') %></a>
    <a class='carousel-item responsive-img'><%= image_tag('photos/outdoor - tree') %></a>
    <a class='carousel-item responsive-img'><%= image_tag('photos/indoor - living room') %></a>
  </div>
  <div class="welcome">
    <p>
      Welcome to Renawara. The villa surrounding tropical gardens are located in a small coastal fishing village in the southern region of Sri Lanka, 15 kilometres south of tangalle and only two hours from Galle.
      <br>
      <br>
      The bright yellow Ranawara flower is indigenous to this area of Sri Lanka and has been used for generations as a medical herbal tea. Ranawara is a hardy tree that blossoms year round, even during the long dry season when water is a scarce supply. We have named our property after this remarkable tree which grows in abundance within our 23 acre beach front-end estate.
    </p>
  </div>
</div>
 -->

 <div class="container">
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">Ranawara</p>
      <p class="content-subtitle">Scroll down and up to see the effect!</p>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <!-- <p class="content-title">Cras lacinia non eros nec semper.</p> -->
      <p class='content-title'>Second Tile</p>
      <!-- <p class="content-subtitle">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras ut massa mattis nibh semper pretium.</p> -->
      <p class='content-subtitle'>Content here</p>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <!-- <p class="content-title">Etiam consequat lectus.</p> -->
      <p class='content-title'>Third Tile</p>
      <!-- <p class="content-subtitle">Nullam tristique urna sed tellus ornare congue. Etiam vitae erat at nibh aliquam dapibus.</p> -->
      <p class='content-subtitle'>Content here</p>
    </div>
  </section>
</div>