<div class="about_main">
  <div class="background">
    <%= image_tag('photos/compressed/outdoor - night tree-min.jpg') %>
  </div>
</div>

<div class="container about">
  <div class="row">
    <h3>About</h3>
    <br>
    <p>
      Ranawara offers simple yet beautifully decorated rooms, spacious living areas and stunning views stretching over the garden, pool and Indian Ocean
      <br>
      <br>
      The main villa comprimises a total of 46,000 sq. ft. of open plan living. The property features a library, TV room, bar area, open plan kitcken & dining room, al-fresco dining pavilion, spa as well as 100ft long swimming pool.
      <br>
      <br>
        We resident team of staff who cater for your needs in a home-style service for the duration of your stay. On site we have our British General Manager, a chef and his cooking team as well as service, room and garden staff.
    </p>

    <div class="row features">
      <div class="col s1">
      </div>
      <div class="col s2 feature">
        <a href="#">
          <div class="inner villa valign-wrapper center-align">
            <h4>villa</h4>
          </div>
        </a>
      </div>
      <div class="col s2 feature">
        <a href="#">
          <div class="inner grounds valign-wrapper center-align">
            <h4>Grounds</h4>
          </div>
        </a>
      </div>
      <div class="col s2 feature">
        <a href="#">
          <div class="inner spa valign-wrapper center-align">
            <h4>Spa</h4>
          </div>
        </a>
      </div>
      <div class="col s2 feature">
        <a href="#">
          <div class="inner food valign-wrapper center-align">
            <h4>Food</h4>
          </div>
        </a>
      </div>
      <div class="col s2 feature">
        <a href="#">
          <div class="inner facilities valign-wrapper center-align">
            <h4>Facilities</h4>
          </div>
        </a>
      </div>
      <div class="col s1">
      </div>
    </div>
  </div>

  </div>
