// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 0px !important;
  width: 100%;
}

.main {
  // position: absolute;
  top: 0;
  overflow-y: hidden;
  width: 100vw;
  height: 100%;

  .carousel.carousel-slider.initialized {
    height: 60vh;
    background-color: #000000;

    a {
      img {
        object-fit: cover;
        height: 100%;
        opacity: .5;
      }
    }
  }
}

.overlay {
  position: absolute;
  color: white;
  height: 60vh;
  width: 100%;
  // text-align: center;
  font-family: 'Cinzel Decorative', cursive;

  h1 {
    right: 0;
    left: 0;
    margin: 0 auto 0 auto;
    z-index: 1;
  }
}

.welcome {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
