// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 0px !important;
  width: 100%;
}

.main {
  position: absolute;
  top: 0;
  overflow-y: hidden;
  width: 100vw;
  height: 100%;

  .carousel.carousel-slider.initialized {
    height: 100%;

    a {
      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }


}
